.detailContent {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  .detailTitle {
    width: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    h2 {
      color: white;
      font-size: 50px;
      margin: 0;
    }
    justify-content: flex-start;
    gap: 10px;
  }

  .detailsText {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
