@import url("./styles/_normalize.scss");

html {
  scroll-behavior: smooth;
  background-image: url("../assets/background.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;

  body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
  }
}

:root {
  background-color: #333333;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(77, 77, 77);
    width: 900px;
    min-height: 600px;

    color: white;
    gap: 30px;
  }
}
