.detailContent {
  display: flex;
  flex-direction: column;

  width: 800px;
  min-height: 600px;
  height: 100%;

  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;

    width: 100%;

    .headerBtns {
      display: flex;
      gap: 30px;
      padding-bottom: 10px;
    }
  }

  .detailsText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 30px;
    padding: 15px;
  }
  .detailsMore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    h2 {
      border-radius: 30px;
      background-color: gray;
      padding: 15px;
    }

    .detailsFilm {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px;
      width: 800px;
    }

    .detailPlanets {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px;
      width: 800px;
    }
  }
}
