.detailContent {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 600px;

  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;

    width: 100%;

    .headerBtns {
      display: flex;
      gap: 30px;
      padding-bottom: 10px;
    }
  }

  .detailsText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
    height: 540px;
  }
}
