.Header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;

  width: 100%;

  .headerBtns {
    display: flex;
    gap: 30px;

    a.active  button{
      background-color: #414241;
    }
  }
}